.todo-root {
    -fx-border-color: black;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: rgba(254, 214, 0, .6);
}

.container {
    -fx-background-color: rgb(100, 100, 60);
}

.scrollable-container {
    -fx-background: transparent;
    -fx-background-color: rgb(100, 100, 60);
}

.task-container {
    -fx-background-color: radial-gradient(radius 180%, rgb(104,74,30), derive(rgb(70, 70, 30), -30%), derive(rgb(70, 70, 30), 30%));
}

/* Task side --------------------------------------------- */
.task-border-pane {
    -fx-border-color: wheat;
    -fx-border-width: 1 0 1 0;
}

.category-border-pane {
    -fx-border-color: wheat;
    -fx-border-width: 1 0 1 1;
}

.menubox {
    -fx-border-color: wheat;
    -fx-border-width: 0 0 1 0;
}

.image-button {
    -fx-background-color: rgb(120, 120, 50);
    -fx-border-color: rgba(0,0,0,.5);
    -fx-text-fill: rgb(168, 195, 207);
    -fx-text-weight: bold;
}

.image-button:hover {
    -fx-background-color: rgb(160, 145, 50);
}

.image-button:pressed {
    -fx-background-color: #aabaab;
    -fx-text-fill: gold;
}

.menu-button-separator {
    -fx-border-color: black;
}

.separator:vertical .line {
    -fx-border-color: #e1dca5;
    -fx-border-width: 1, 0, 0, 0;
}

.separator:horizontal .line {
    -fx-border-color: burlywood;
    -fx-border-width: .5, 0, 0, 0;
}

.motivation-text-container {
    -fx-alignment: bottom-center;
    -fx-background-color: transparent;
}


/* Category side ---------------------------------------- */
.title-container {
    -fx-border-color: wheat;
    -fx-border-width: 0 0 1 0;
}

.title-text {
    -fx-text-alignment: center;
    -fx-font-family: IncisedBlackWide;
    -fx-font-size: 24;
    -fx-fill: radial-gradient(radius 120%, wheat, derive(burlywood, -15%), derive(wheat, 15%));
}

.subtitle-container {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: burlywood;
    -fx-border-radius: 4;
}

.subtitle-text {
    -fx-text-alignment: center;
    -fx-font-family: monospace;
    -fx-font-size: 18;
    -fx-fill: wheat;
}

.motivational-text {
    -fx-text-alignment: center;
    -fx-font-family: IncisedBlack;
    -fx-font-size: 24;
    -fx-fill: radial-gradient(radius 120%, wheat, derive(burlywood, -15%), derive(wheat, 15%));
}

.cat-menu-border-pane {
    -fx-border-color: wheat;
    -fx-border-width: 1 0 0 0;
}

.rect-progress-bar {
    -fx-fill: radial-gradient(radius 180%, burlywood, derive(burlywood, -30%), derive(burlywood, 30%));
    -fx-arc-height: 45;
    -fx-arc-width: 45;
}

.list-cell:odd, .list-cell:even {
    -fx-background-color: rgb(100, 100, 65);
    -fx-font-family: FreeMono;
    -fx-font-weight: bold;
    -fx-text-fill: #d8ded0;
    -fx-font-size: 16;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#aabadd 0%, #808BCF 25%, #4973C9 75%, #2A65BF 100%);
    -fx-text-fill: radial-gradient(radius 180%, burlywood, derive(gold, 40%), derive(gold, -40%));
}

/* Scroll bar */
.scroll-bar{
    -fx-background-color: radial-gradient(radius 180%, burlywood, derive(burlywood, -30%), derive(burlywood, 30%));
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: radial-gradient(radius 180%, burlywood, derive(gold, 30%), derive(gold, -30%));
}

.increment-button:hover, .decrement-button:hover {
    -fx-background-color: wheat;
}

.corner {
    -fx-background-color: radial-gradient(radius 180%, burlywood, derive(gold, -30%), derive(gold, 30%));
}